/*Comportamento global da página*/
html {
    scroll-behavior: smooth;
}

/*Remove margens padrão do navegador */
body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Container principal*/
.container {
    display: flex;
    min-height: 100vh;
}

/*Barra lateral*/
aside {
    width: 250px;
    background-color: #111;
    color: white;
    padding: 40px;
    position: sticky;
    top: 0;
    height: 100vh;
}

/*Conteúdo principal*/
main {
    flex: 1;
    padding: 60px;
}

/*Remove o estilo padrão da lista*/
aside ul {
    list-style: none;
    padding: 0;
}

/*Espaçamento entre itens*/
aside li {
    margin-bottom: 20px;
}

/*Estilo dos links*/
aside a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

/*Efeito hover*/
aside a:hover {
    color: #999;
}

/*Estilo nome barra lateral*/
aside h2 {
    font-size: 28px;
    margin-bottom: 60px;
    letter-spacing: 2px;
}

/*Título principal*/
main h1 {
    font-size: 48px;
    margin: 0;
}

#home {
    display: flex;
    align-items: flex-start;
    padding-top: 150px;
}

main {
    flex: 1;
    padding: 80px 40px 80px 150px;
}

/*Sections em grid*/
.grid-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 120px 80px;
}

/*Estilo dos grids*/
.grid-sections {
    background: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
}

/*Subtítulo*/
main h2 {
    font-weight: normal;
    color: #666;
    margin-top: 10px;
}

/*Layout Home*/
.home-content {
    display: flex;
    align-items: center;
    justify-content: flex-end; /*empurra tudo pra direita */
    gap: 100px;
    width: 100%;
}

/*Texto*/
.text h1 {
    font-size: 64px;
    margin: 0;
}

.text h2 {
    font-weight: normal;
    color: #666;
    margin-top: 15px;
}

/*Localização da foto*/
.foto-home {
    width: 380px;
    height: 380px;
    background: linear-gradient(135deg, #0eb4ff, #7f5af0); /*só pra marcar*/
    border-radius: 50%;
}

.subtitle {
    font-size: 22px;
    color: #777;
    letter-spacing: 1px;
}

/*Espaçamento entre as sections*/
section {
    min-height: 100vh;
    padding: 150px 80px;
}

/*Estilização footer*/
footer {
    background-color: #f5f5f5;
    color: #111;
    text-align: center;
    padding: 10px 20px;
}

/*Estlização dos ícones sociais*/
.footer-social {
    margin-bottom: 15px;
}

.footer-social a {
    color: white;
    font-size: 35px;
    margin: 0 12px;
    transition: 0.3s;
}

.footer-social a:hover {
    color: #0eb4ff;
}